config/ 
*.sublime-project 
*.log 
deploy/ 
debug/
*.manifest
*.profile
.symbols/
.DS_Store
*.sublime-workspace
CurrentActions/config/
mm.log
package.xml

CurrentActions/src/package.xml

CurrentActions/src/classes/HouseController.cls

CurrentActions/src/classes/HouseControllerTest.cls

CurrentActions/src/classes/HousePagedResult.cls

CurrentActions/src/staticresources/
CurrentActions/src/staticresources/SLDS0122.resource
