.THIS .slds-tile {
    position: relative;
    padding-top: 25px;
    padding-right: 50px;
    padding-bottom: 25px;
    padding-left: 50px;

}
.THIS  li.insight + li.insight {
     border-top: 1px solid #CED3DF;
}

.THIS .event:active,
.THIS .active { /* Added .active rule */
    background: lightblue;
}

.THIS .event:hover {
	background: pink;
}
