.THIS.container {	width: 100%;
	padding: 10px 0px;
	margin: 0px;
}

.THIS .center {
	margin: 0px auto;
}

.THIS .content {
	max-width: 768px;
	font-size: 12px;
	color: #3c3d3e;
}
.THIS {
    width: 100%;
    padding: 8px;
}

.THIS input {
    width: 100%;
    padding: 8px;
    -webkit-appearance: none;
    border: solid 1px #dddddd;
}