.THIS .slds-modal__container .slds-modal__header .slds-modal__content .slds-modal__footer{
 width: 100%;
 margin: 0;
 padding: 0;
 top: 0;
 left: 0;
}

.THIS .slds-modal__content {
  height: 100%;
}

@media (min-width: 48em) {
  .THIS .slds-modal__container  {

    width: 100%;
    max-width: 100%;

  }
}

.THIS .slds-modal__container  {
  background-color: lightblue;
}

.THIS td.highlight {
  font-weight: bold;
  background-color: blue;
}

/*.THIS .wrapper {
  cursor: help;
  position: relative;
  text-align: center;
}



.THIS  .tooltip {
  background: #1496bb;
  bottom: 100%;
  color: #fff;
  display: block;
  left: -25px;
  margin-bottom: 15px;
  opacity: 0;
  padding: 20px;
  pointer-events: none;
  position: absolute;
  width: 100%;
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  -ms-transform: translateY(10px);
  -o-transform: translateY(10px);
  transform: translateY(10px);
  -webkit-transition: all .25s ease-out;
  -moz-transition: all .25s ease-out;
  -ms-transition: all .25s ease-out;
  -o-transition: all .25s ease-out;
  transition: all .25s ease-out;
  -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
  -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
  -ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
  -o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
}


/* This bridges the gap so you can mouse into the tooltip without it disappearing */

/*
.THIS .wrapper .tooltip:before {
  bottom: -20px;
  content: " ";
  display: block;
  height: 20px;
  left: 0;
  position: absolute;
  width: 100%;
}



.THIS .wrapper .tooltip:after {
  border-left: solid transparent 10px;
  border-right: solid transparent 10px;
  border-top: solid #1496bb 10px;
  bottom: -10px;
  content: " ";
  height: 0;
  left: 50%;
  margin-left: -13px;
  position: absolute;
  width: 0;
}

.THIS .wrapper:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0px);
}
*/


.THIS .wrapper {
  position: relative;
  display: inline;
  cursor: help;
}

.THIS .wrapper .tooltip {
  position: absolute;
  color: #FFFFFF;
  background: #404040;
  min-height: 30px;
  text-align: center;
  visibility: hidden;
  border-radius: 6px;
  padding: 5px 10px;
  font-weight: 400;
}

.THIS .wrapper .tooltip:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -8px;
  width: 0; height: 0;
  border-left: 8px solid #404040;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
}

.THIS :hover.wrapper .tooltip {
  visibility: visible;
  display: inline-block;
  opacity: 1.0;
  right: 100%;
  top: 50%;
  margin-top: -15px;
  margin-right: 15px;
  z-index: 999;
}