.THIS.rezza-header {
    height: 108px;
    width: 100%;
    border-bottom: thin solid #515458;
    background-color: white;
}

.THIS .header-title {
    font-size:30px;
    color:#515458;
    font-weight:800;
    font-family: Arimo-Bold;
}

.THIS span.header-count {
    font-size:70px;
    color:#ED1652;
    font-weight:800;
    font-family: Arimo-Bold;
}

.THIS .header-detail {
    font-size: 20px;
    color:#515458;
    font-weight: 200;
}

.THIS .inline {
    display: inline-block;
}

.THIS .no-wrap {
    white-space: nowrap;
}

.THIS .nav-menu {
    overflow: scroll;
    max-height: 100%;
    min-height: 500px;
}