.THIS.selected {
    background-color: #f0f8fc;
}

.THIS.slds-card__body:hover {
    background-color: #f4f6f9;
}


.THIS .sobject-link a {
  color: #11244A;
}

.THIS .greeting {
    text-align: right;
    font-size: 14px;
    color:#292731;
}

.THIS .greeting-bar {
    margin-top: 0;
    color:#292731;
}

.THIS .detail-name.slds-text-heading--label {
 font-size:25px;
 color:#292731;
 font-weight:800
}

.THIS.details,
.THIS .details{
    font-size:16px;
    font-weight:200;
}

.THIS .footer, .THIS.footer {
   position:absolute;
   bottom:0;
   width: 100%;
}

.THIS .right-bottom{
  position: absolute;
  right: 0px;
  bottom: 3.5em;
}

.THIS .dropdown-float {
  float: right;
  padding: 2px 4px;
  margin: 6px 0;
  display: inline-block;
  border: 1px #0A58C7;
  right: -6px;
  position: relative;
  color: white;
  }

/*.THIS .slds-button--neutral.pink-button {
    color: #292731;
}*/

.THIS .slds-list--horizontal {
    flex-wrap: wrap;
}
 .THIS li{
    padding-bottom: .7em;
    padding-right: .7em;
 }

