.THIS.selected {
    background-color: #f0f8fc;
}

.THIS.slds-card__body:hover {
    background-color: #f4f6f9;
}


.THIS .sobject-link a {
  color: #11244A;
}

.THIS .greeting {
    text-align: right;
    font-size: 14px;
    color:#292731;
}

.THIS .greeting-bar {
    margin-top: 0;
    color:#292731;
}

.THIS .detail-name.slds-text-heading--label {
 font-size:25px;
 color:#292731;
 font-weight:800
}

.THIS.details,
.THIS .details{
    font-size:16px;
    font-weight:200;
}