/*@font-face {
    font-family: 'Arimo';
    font-family: 'DidactGothic';
}
*/

.THIS.selected {
    background-color: #f0f8fc;
}

.THIS.slds-card__body:hover {
    background-color: #f4f6f9;
}

.THIS .slds-icon.slds-icon--large.icon-larger {
    width: 3.5rem;
    height: 3.5rem;
}

.THIS .sobject-link a {
  color: #11244A;
}

.THIS .chart {
  width: 300px;
  height: 150px;
}

.THIS .greeting {
    text-align: right;
    font-size: 16px;
    color:#515458;
    font-family: Arimo;
}

.THIS span.slds-badge {
  background-color: #e8e8e8;
  color:#515458;
}

.THIS .greeting-bar {
    margin-top: 0;
    color:#515458;
}

.THIS .detail-name {
 font-size:16px;
 font-weight:800;
 font-family: Arimo-Bold;
 line-height: 1.2em;
 color: #515458;
}

.THIS.details,
.THIS .details{
    font-size:14px;
    font-weight:200;
    color: #515458;
}

.THIS .footer, .THIS.footer {
   position:absolute;
   bottom:3.5em;
   width: 100%;
}

.THIS .right-bottom{
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.THIS .dropdown-float {
  float: right;
  padding: 2px 4px;
  margin: 6px 0;
  display: inline-block;
  border: 1px #0A58C7;
  right: -6px;
  position: relative;
  color: white;
  }

/*.THIS .slds-button--neutral.pink-button {
    color: #292731;
}*/

.THIS .slds-list--horizontal {
    flex-wrap: wrap;
}
 .THIS li{
    padding-bottom: .7em;
    padding-right: .7em;
 }

