.THIS .cell-table {
    display: table;
    width: 100%;
}

.THIS .cell-icon {
   display: table-cell;
   width: 3.75rem;
   vertical-align: top;
}

.THIS .cell-title {
    display: block;
    overflow: hidden;
    vertical-align: top;
}

.THIS .cell-action {
  display: table-cell;
  text-align: right;
  width: 7rem;
  vertical-align: top;
}

.THIS .cell-title-text {
    font-size: 24px;
    color:#515458;
    font-family: Arimo-Bold;
    line-height: 1.25;
    font-weight: 700;
}

.THIS .pink {
  color: #ED1652;
}

.THIS .cell-data {
   display: table-cell;
   text-align: right;
   width: 7rem;
   vertical-align: top;
}

.THIS a.cell-data-text {
   font-size: 12px;
   color:#515458;
   font-family: Arimo;
   cursor: pointer;
}

.THIS .cell-detail {
    font-size: 14px;
    color:#515458;
    padding-left: 3.75rem;
}


.THIS .count-badge {
    background-color: #515458;
    font-size: 12px;
    color: white;
    font-family: Arimo;
    width: 1rem;
    height: 1rem;
    position: relative;
    left: 6rem;
    text-align: center;
    border-radius: 3px;
}

.THIS .cell-divider {
    color: #515458;
}

.THIS .slds-list--horizontal {
    flex-wrap: wrap;
}
 .THIS li{
    padding-bottom: .7em;
    padding-right: .7em;
 }

.THIS.toggle {
    display: none;
}

.THIS .dropdown-float {
  color: white;
}

.THIS .container {
  width: 100%;
  padding: 10px 0px;
  margin: 0px;
}

.THIS .center {
  margin: 0px auto;
}

.THIS .content {
  max-width: 768px;
  font-size: 12px;
}


.THIS .sobject-link a
{
      color: #11244A;
}