/*toggleCss.css*/
.THIS.toggle {
    display: none;
}

.THIS .dropdown-float {
  float: right;
  padding: 2px 4px;
  margin: 6px 0;
  display: inline-block;
  border: 1px #0A58C7;
  right: -6px;
  position: relative;
  color: white;
  }

.THIS .data-source {
  font-weight: bold;
  font-size: 72px;
}

.THIS div.slds-card.slds-p-right--medium.slds-p-top--medium.slds-p-bottom--medium.slds-p-left--medium.query-card.query-card:hover {
  background-color: pink;
  border-color: red;
}

.THIS .container { 
  width: 100%;
  padding: 10px 0px;
  margin: 0px;
}

.THIS .center {
  margin: 0px auto;
}

.THIS .content {
  max-width: 768px;
  font-size: 12px;
  color: #3c3d3e;
}

.THIS .story-content-mask {
    line-height: 2em;
    height: 1em;
    overflow: hidden
}

.THIS .feeditem-list {
    border-top: 1px solid #f7f7f7;
    font-size: 0.813rem;
    width: 100%;
}

.THIS .feeditem-description {
    color: #929292
}

.THIS .story-metadata {
    width: 65px;
  cursor: pointer;
    display: table-cell;
    padding-right: 20px;
    vertical-align: middle;
    width: 120px  
}

.THIS .feeditem-headline {
    margin-right: .6em;
    font-weight: bold
}

.THIS .feeditem--hdr {
    display: table;
    width: 100%;
}

.THIS .feeditem-fuzzytime {
    display: inline-block;
    padding-top: 1px;
    white-space: nowrap;
    float:right;
}

.THIS .feeditem-fuzzytime a {
    color: #232323;
    border-bottom: 1px solid #fff;
    text-decoration: none;
    color: #666;
    border-bottom: 1px dotted #fff
}

.THIS .feeditem-fuzzytime a:hover {
    border-bottom-color: #232323
}

.THIS .feeditem-feedtitle {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    display: table-cell;
    padding: 0.95em 0 0.3em 20px;
    width: 191px;
    vertical-align: middle
}

.THIS .story-data {
    cursor: pointer;
    display: block;
    height: 2em;
    margin-top: .7em;
    overflow: hidden;
    padding-right: 20px;
    padding-left: 20px;
    width: auto;
}