.THIS.container {	width: 100%;
	padding: 0px 0px;
	margin: 0px;
}

.THIS .center {
	margin: 0px auto;
}

.THIS .content {
	font-size: 12px;
	color: #3c3d3e;
}

.THIS #left {
    float: left;
    height: 100%;
    overflow: scroll;
    position:fixed;
    width:300px;
}

.THIS #right {
    float: left;
    height: 100%;
    overflow: scroll;
    margin-left: 300px;
    width:100%;
}

.THIS #header-wrap {
    position: fixed;
    height: 54px;
    top: 0;
    width: 100%;
    z-index: 100;
}

.THIS #container{
    margin-top: 36px;
}