.THIS.container {
    width: 100%;
    padding: 0px 0px;
    margin: 0px;
}

.THIS .center {
	margin: 0px auto;
}

.THIS .content {
	/*font-size: 12px;*/
	color: #3c3d3e;
}

.THIS #left {
    overflow: scroll;
    position:fixed;
    top: 138px;
    bottom: 0;
    left: 0;
    width:450px;
    /*background-color: #081430;*/
}

.THIS #main {
/*    flex: auto;
    max-width: 70%;
    min-width: 564px;*/
}

.THIS #sidebar {
    flex: 0 0 auto;
    width: calc(100%/3);
    min-width: 404px;
}

.THIS .right-border {
    border-right: 1px solid rgb(216, 221, 230);
}

.THIS #right {
    float: left;
    height: 100%;
    overflow: scroll;
    margin-left: 450px;
    width:100%;
}

.THIS #header-wrap {
    position: fixed;
    height: 138px;
    top: 0;
    width: 100%;
    z-index: 100;
}

.THIS #container{
    margin-top: 138px;
}

.THIS .feed-stream-header {
    *zoom: 1;
    position: relative;
    padding: 1.5em 0;
    border-bottom: 1px solid #ebebeb
}

.THIS .feed-stream-header:before,
.THIS .feed-stream-header:after {
    display: table;
    content: "";
    line-height: 0
}
.THIS .feed-stream-header:after {
    clear: both
}
.THIS .feed-stream-header .dr-feed-badge {
    left: 14px;
    top: 17px
}

.THIS .sobject-link {
    font-weight: 500;
}